*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f2f2;
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    /* max-width: 900px; */
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
margin-top: .55rem;
    gap: 1rem;
}
ul li{
    font-weight: 500;
}
.section{
    display: flex;
    justify-content: space-evenly;

}
.left{
    width: 357px;
    margin-top: 8rem;
    
}
.left h1{
    text-transform: uppercase;
    font-weight: 800;
}
.left p{
    margin-top: 2rem;
}
.left button{
    margin-top: 2rem;
    padding: .65rem 1.5rem;
    margin-right: 1.5rem;
}
.right img{
    width: 32rem;
    height: 32rem;
}
.section01{
    background-color: #75BF7A;
    border-radius: 10px;
    width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
}
.center{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.center p{
    color: white;
    /* text-transform: uppercase; */
}
#input{
    width: 28rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
}
#input::placeholder{
  color: #DADADA;
  padding: .45rem;
}
.center button{
    height: 3rem;
    width: 12rem;
}
.section02,.section03{
    width: 66rem;
    height: 16rem;
   background-color: #FFFFFF;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 3rem auto 3rem auto ;
   padding: 1rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.flex h2{
    color: #75BF7A;
    font-size: 88px;
}
#left{
    width: 300px;
}
.card img{
    width: 15rem;
    height: 13rem;
    border: none;

}
.section03 #left{
    width: 220px;
}
.section03{
    float: right;
    display: flex;
    flex-direction: row-reverse;
    margin: 0rem 3rem 3rem auto ;

}
.benefit{
   color: #75BF7A;
   display: flex;
   justify-content: center;
   text-transform: uppercase;
   margin-top: 13rem;

}
.benefit span{
    color: black;
}
.footer{
    margin-top: 8rem;
}
.footer p{
    color: #9E9DA2;
    font-weight: 500;
}
#left p{
    color: #9E9DA2;
    font-weight: 500;
}
.work{
    margin: 6rem auto;
 
}
.work{
    width: 430px;
    text-align: center;
}
.work h1{
    font-weight: 700;
    /* letter-spacing: 1px; */
}
.work span{
    color: #75BF7A;
}
.work p{
    color: #9E9DA2;
    font-weight: 500;
    margin-top: 1rem;
}
.how{
    /* max-width: 1200px; */
}
.work01{
    width: 250px;
 text-align: end;
 margin-top: 4rem;
}
.work02{
    display: flex;
}   
.work01 p, .work03 p{
    color: #9E9DA2;
    font-weight: 500;
}
#img01{
    position: relative;
    margin-top: 5rem;   
}
#img02{
    position: absolute;
    /* position: fixed; */
    left: 34rem;
    /* top: 10rem; */
}
#main{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 8rem;
    max-width: 1400px;
    /* border: 2px solid red; */
}
@media (max-width:812px) {
    .section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .left{
        margin-top: 3rem;
    }
   
    
}
@media (max-width:1058px) {
    #main{
        max-width: 700px;
        margin: auto;
    }
    #img01{
        width: 400px;
        height: 400px;
        position: relative;
    }
    #img02{
        position: fixed;
         left: 34rem;
    }
}
@media (max-width:855px) {
    #main{
        flex-direction: column;
    }
    .work01, .work03{
        display: flex;
        width: 500px;
        gap: 5rem;
        margin: 0 auto;
    }
    #img01{
        margin: -3rem auto;
        width: 300px;
        height: 300px;
    }
}
@media (max-width:1350px) {
    #img02{
        position: absolute;
    }
}
@media (max-width:1106px) {
    body{
        margin: 0 auto;
    }
    .section02,.section03{
    width: 33rem;
    height: auto;
   flex-direction: column;
   margin: 0rem auto;
    }
    .section03{
        float: none;
    margin: 2rem auto;
    }
    .section01{
        width: 70%;
        margin: 2rem auto;
    padding: 2.5rem;
    }
   
    #input{
        width: 16rem;
        margin-bottom: 1rem;
        
    }
}
@media (max-width:812px) {
     body{
        margin: 0 auto;
    }
     .section01{
        width: 70%;
        margin: 2rem auto;
    padding: 2.5rem;
    }
    .center{
        /* width: 100%; */
    flex-direction: column;
    }
    #input{
        width: 12rem;
        margin-bottom: 1rem;
        
    }
}
@media (max-width:832px) {
     body{
        margin: 0 auto;
    }
    nav{
        flex-direction: column;
    }
}
