*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dbd9d9;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    padding: 1.5rem;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
margin-top: .55rem;
    gap: 1.5rem;
}
ul li{
    font-weight: 500;
}
.section{
    display: flex;
    justify-content: space-evenly;

}
.left{
    width: 357px;
    margin-top: 8rem;
    
}
.left h1{
    text-transform: uppercase;
    font-weight: 800;
}
.left p{
    margin-top: 2rem;
}
.left button{
    margin-top: 2rem;
    padding: .65rem 1.5rem;
    margin-right: 1.5rem;
}
.right img{
    width: 32rem;
    height: 32rem;
}
.section01{
    background-color: #75BF7A;
    border-radius: 10px;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    padding: 1.5rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;   
}
.section01 p{
    color: white;
    text-transform: uppercase;
    /* width: 256px; */
}
#input{
    width: 16rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
}
#input::placeholder{
  color: #DADADA;
  padding: .45rem;
}
.section01 button{
    height: 3rem;
    width: 12rem;
}
.section02,.section03{
    width: 66rem;
    height: 16rem;
   background-color: #FFFFFF;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0rem auto 5rem auto ;
   padding: 1rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.flex h2{
    color: #75BF7A;
    font-size: 88px;
}
#left{
    width: 300px;
}
.card img{
    width: 15rem;
    height: 13rem;
    border: none;

}
.section03 #left{
    width: 220px;
}
.section03{
    float: right;
    margin-right: 3rem;
    display: flex;
    flex-direction: row-reverse;

}
.benefit{
   color: #75BF7A;
   display: flex;
   justify-content: center;
   text-transform: uppercase;

}
.benefit span{
    color: black;
}
.footer{
    margin-top: 8rem;
}
.footer p{
    color: #9E9DA2;
    font-weight: 500;
}
#left p{
    color: #9E9DA2;
    font-weight: 500;
}
@media (max-width:812px) {
    .section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .left{
        margin-top: 3rem;
    }
    .section01{
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}
@media (max-width:1106px) {
    .section02,.section03{
    width: 33rem;
    height: auto;
   flex-direction: column;
   margin: 0rem auto;
    }
    .section03{
        float: none;
    margin: 2rem auto;
    }
}
@media (max-width:710px) {
    nav{
        flex-direction: column;
    }
}